{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-3xl text-green-500 text-shadow-aoc shadow-green-500">Poker Rankings: Current season</h1>
<div class="text-green-700">
  <table>
    <thead class="text-green-500">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for player in player_data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.balance }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}