{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-3xl text-green-500">Poker Rankings</h1>
{% for season, players in seasons_data.items %}
<div class="w-fit border-2 border-green-700 p-2 text-green-700 text-center my-5 overflow-auto">
  <h2 class="text-2xl text-green-700 text-center">{{ season }}</h2>
  <p class="text-center">{{ season.start_date }} - {{ season.end_date }}</p>
  <table class="text-center mx-auto">
    <thead>
      <tr>
        <th class="px-2">{Position}</th>
        <th class="px-2">{Name}</th>
        <th class="px-2">{Balance}</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
      {% if forloop.counter == 1 %}
      <tr class="text-yellow-300 text-shadow-aoc shadow-yellow-300">
      {% elif forloop.counter == 2 %}
      <tr class="text-zinc-300 text-shadow-aoc shadow-zinc-300">
      {% elif forloop.counter == 3 %}
      <tr class="text-yellow-700 text-shadow-aoc shadow-yellow-700">
      {% else %}
      <tr>
      {% endif %}
        <td class="px-2">{{ forloop.counter }}</td>
        <td class="px-2">{{ player.0 }}</td>
        <td class="px-2">{{ player.1 }}</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}
{% endblock %}