{% extends 'base.html' %}

{% block content %}
<div class="my-12">
    <p class="font-mono text-green-700 my-3">
    Welcome to my personal website! I'm Nico Foth, currently pursuing a dual study program in software engineering while working at Lufthansa. I am genuinely passionate about the world of technology and programming, and I consider myself fortunate to be able to immerse myself in this field. Through dedicated effort and a commitment to continuous learning, I have acquired proficiency in Python and Java development, enabling me to craft efficient and robust software solutions to address complex challenges.
    </p>
    <p class="font-mono text-green-700 my-3">
    One particular area that has captured my attention is systems programming. The intricacies of computer systems never cease to fascinate me, and I thoroughly enjoy delving into the core of the software stack to optimize performance and ensure the seamless functioning of applications. Exploring low-level programming languages and methodologies has been both humbling and rewarding, as it pushes me to create software solutions that are both efficient and reliable.
    </p>
    <p class="font-mono text-green-700 my-3">
    In my leisure time, I derive great pleasure from my hobbies, such as gaming and watching movies. The immersive worlds of games like Counter-Strike: Global Offensive and World of Warcraft provide an outlet for my competitive spirit and an opportunity to collaborate with fellow gamers. Additionally, I hold a deep appreciation for the art of storytelling and the creative process involved in filmmaking, which is why I often find myself captivated by movies. These diverse interests serve as a wellspring of inspiration, influencing my perspectives and approach to my work.
    </p>
    <p class="font-mono text-green-700 my-3">
    I invite you to join me on this website as I share insights, experiences, and explore the ever-evolving landscape of technology. My aspiration is to make a positive impact through my work and passions, continuously seeking growth while remaining grateful for the opportunities that have shaped my journey.
    </p>
</div>

{% endblock %}