{% extends 'base_new.html' %}
{% load static %}
{% block content %}

<style>
.body {
    background-image: url("{% static 'backgrounds/example-pages.webp' %}");
    background-size: cover;
}
</style>


<div class="container">

    <div class="row">
        <div class="column col col-4">
            <div class="example-page-card">
                <div class="example-page-title">Arztpraxis</div>
                <div class="example-page-desc">Eine Website für Arztpraxen, Krankenhäuser oder andere medizinische Einrichtungen.</div>
                <div class="example-page-image"><img src=""></div>
                <a href="http://88.198.191.36/" target="_blank" class="button example-page-button">Zur Website</a>
            </div>
        </div>
        <div class="column col col-4">
            <div class="example-page-card">
                <div class="example-page-title">Baufirma</div>
                <div class="example-page-desc">Eine Website für Logistikunternehmen, Bauunternehmen oder ähnlichem.</div>
                <div class="example-page-image"><img src=""></div>
                <a href="http://88.198.191.36/baufirma/" target="_blank" class="button example-page-button">Zur Website</a>
            </div>
        </div>
        <div class="column col col-4">
            <div class="example-page-card">
                <div class="example-page-title">Reinigungsfirma</div>
                <div class="example-page-desc">Eine Website für Reinigungsfirmen, Facility Management oder ähnlichem.</div>
                <div class="example-page-image"><img src=""></div>
                <a href="http://88.198.191.36/reinigungsfirma/" target="_blank" class="button example-page-button">Zur Website</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}