{% extends "base.html" %}
{% block content %}
<div name="ascii-logo" class="text-red-500  my-16">
    <p>
    .<a class="text-green-500">########</a>..<a class="text-green-500">#######</a>..<a class="text-green-500">########</a>.<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.....<a class="text-green-500">########</a>..<a class="text-green-500">########</a>.<a class="text-green-500">##</a>.....<a class="text-green-500">##</a><br>
    .<a class="text-green-500">##</a>.......<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.<a class="text-green-500">##</a>.......<a class="text-green-500">##</a>.....<a class="text-green-500">##<br>
    .<a class="text-green-500">##</a>.......<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.<a class="text-green-500">##</a>.......<a class="text-green-500">##</a>.....<a class="text-green-500">##<br>
    .<a class="text-green-500">######</a>...<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>....<a class="text-green-500">#########</a>.....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.<a class="text-green-500">######</a>...<a class="text-green-500">##</a>.....<a class="text-green-500">##<br>
    .<a class="text-green-500">##</a>.......<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.<a class="text-green-500">##</a>........<a class="text-green-500">##</a>...<a class="text-green-500">##</a>.<br>
    .<a class="text-green-500">##</a>.......<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.<a class="text-green-500">###</a>.<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.<a class="text-green-500">##</a>.........<a class="text-green-500">##</a>.<a class="text-green-500">##</a>..<br>
    .<a class="text-green-500">##</a>........<a class="text-green-500">#######</a>.....<a class="text-green-500">##</a>....<a class="text-green-500">##</a>.....<a class="text-green-500">##</a>.<a class="text-green-500">###</a>.<a class="text-green-500">########</a>..<a class="text-green-500">########</a>....<a class="text-green-500">###</a>...<br>
    </p>
</div>
<div>
    <p class=" text-green-700 my-3">
        Welcome to my personal website! My name is <a class="text-green-500 text-shadow-aoc shadow-green-500">Nico Foth</a>, and I am a Software Engineer at <a class="text-blue-700 text-shadow-aoc shadow-blue-800">Lufthansa</a>.
        I am also currently studying applied computer science, which I find to be a fascinating and ever-evolving field.
    </p>
    <p class=" text-green-700 my-3">
        In my free time, I enjoy playing video games and watching movies. However, what really excites me is working on software projects in my private time.
        I love the creative process of developing something from scratch, and I find it incredibly rewarding to see my ideas come to life in code.
    </p>
    <p class=" text-green-700 my-3">
        On this website, you will find information about my <a class="text-green-500 text-shadow-aoc shadow-green-500 hover:text-red-500 hover:shadow-red-500">personal, as well as professional background</a>.
        You will also find examples of my personal <a class="text-green-500 text-shadow-aoc shadow-green-500 hover:text-red-500 hover:shadow-red-500">projects</a>, which I have worked on in my spare time.
        These projects are a true reflection of my passion for software development, and I am excited to share them with you.
    </p>
</div>
{% endblock content %}