{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="cs-rankings">
    <h1>CS Rankings</h1>
    {% for season, players in seasons.items %}
    <div class="season-container">
        <h2><a href="{% url 'cs_season_overview' season_id=season.id %}">{{ season }}</a></h2>
        <p>{{ season.startDate }} - {{ season.endDate }}</p>
        <table>
            <thead>
                <tr>
                    <th>{Position}</th>
                    <th>{Name}</th>
                    <th>{Balance}</th>
                    <th>{Rank}</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'cs_player_profile' player_id=player.0.id %}">{{ player.0.name }}</a></td>
                    <td>{{ player.1 }}</td>
                    {% if forloop.first %}
                    <td>
                        <img src="{% static 'csgo/niko.png' %}" class="rank-image">
                    </td>
                    {% elif forloop.last %}
                    <td><img src="{% static 'csgo/schublade.png' %}" class="rank-image"></td>
                    {% elif player.1 > 1625 %}
                    <td><img src="{% static 'csgo/omega.png' %}" class="rank-image"></td>
                    {% elif player.1 > 1575 %}
                    <td><img src="{% static 'csgo/alpha.png' %}" class="rank-image"></td>
                    {% elif player.1 > 1525 %}
                    <td><img src="{% static 'csgo/beta.png' %}" class="rank-image"></td>
                    {% elif player.1 > 1450 %}
                    <td><img src="{% static 'csgo/gamma.png' %}" class="rank-image"></td>
                    {% elif player.1 > 1350 %}
                    <td><img src="{% static 'csgo/beep_boop.png' %}" class="rank-image"></td>
                    {% elif player.1 > 1200 %}
                    <td><img src="{% static 'csgo/bots.png' %}" class="rank-image"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}