{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="match-overview">
    <h1>{{ match.map }}</h1>
    <p class="match-info"><a href="{% url 'cs_season_overview' season_id=match.season.id %}">{{ match.season.name }}</a>: {{ match.date }}</p>
    <div class="scoreboard-container">
        <h2>Scoreboard</h2>
        <p>Endscore: {{ match.endstate }}</p>
        <table>
            <thead>
                <tr>
                    <th>{Name}</th>
                    <th>{Kills}</th>
                    <th>{Assists}</th>
                    <th>{Deaths}</th>
                    <th>{EF}</th>
                    <th>{UD}</th>
                    <th>{HS}</th>
                </tr>
            </thead>
            <tbody>
                {% for player in match_players %}
                {% if player.win == 1 %}
                <tr class="winner">
                    <td><a href="{% url 'cs_player_profile' player_id=player.player.id %}">{{ player.player.name }}</a></td>
                    <td>{{ player.kills }}</td>
                    <td>{{ player.assists }}</td>
                    <td>{{ player.deaths }}</td>
                    <td>{{ player.enemiesFlashed }}</td>
                    <td>{{ player.utilityDamage }}</td>
                    <td>{{ player.headshotKills }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr class="separator">
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                {% for player in match_players %}
                {% if player.win == 0 %}
                <tr>
                    <td><a href="{% url 'cs_player_profile' player_id=player.player.id %}">{{ player.player.name }}</a></td>
                    <td>{{ player.kills }}</td>
                    <td>{{ player.assists }}</td>
                    <td>{{ player.deaths }}</td>
                    <td>{{ player.enemiesFlashed }}</td>
                    <td>{{ player.utilityDamage }}</td>
                    <td>{{ player.headshotKills }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}