{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="text-3xl text-green-500">{{ season.name }}</h1>
<p class="text-green-700">{{ season.startDate }} - {{ season.endDate }}</p>
<div class="w-fit border-2 border-green-700 p-2 text-green-700 text-center my-5 overflow-auto">
  <h2 class="text-2xl text-green-700 text-center">Current ranking</h2>
  <p class="text-center">Only already ranked players</p>
  <table class="text-center mx-auto">
    <thead>
      <tr>
        <th class="px-2">{Position}</th>
        <th class="px-2">{Name}</th>
        <th class="px-2">{Balance}</th>
        <th class="px-2">{Rank}</th>
      </tr>
    </thead>
    <tbody>
      {% for player in seasonplayerdata %}
      {% if forloop.counter == 1 %}
      <tr class="text-yellow-300 text-shadow-aoc shadow-yellow-300">
      {% elif forloop.counter == 2 %}
      <tr class="text-zinc-300 text-shadow-aoc shadow-zinc-300">
      {% elif forloop.counter == 3 %}
      <tr class="text-yellow-700 text-shadow-aoc shadow-yellow-700">
      {% else %}
      <tr>
      {% endif %}
        <td class="px-2">{{ forloop.counter }}</td>
        <td class="px-2">{{ player.player.name }}</td>
        <td class="px-2">{{ player.elo }}</td>
        {% if forloop.first %}
        <td class="px-2">
          <img src="{% static 'csgo/niko.png' %}" class="w-24">
        </td>
        {% elif forloop.last %}
        <td class="px-2"><img src="{% static 'csgo/schublade.png' %}" class="w-24"></td>
        {% elif player.1 > 1625 %}
        <td class="px-2"><img src="{% static 'csgo/omega.png' %}" class="w-24"></td>
        {% elif player.1 > 1575 %}
        <td class="px-2"><img src="{% static 'csgo/alpha.png' %}" class="w-24"></td>
        {% elif player.1 > 1525 %}
        <td class="px-2"><img src="{% static 'csgo/beta.png' %}" class="w-24"></td>
        {% elif player.1 > 1450 %}
        <td class="px-2"><img src="{% static 'csgo/gamma.png' %}" class="w-24"></td>
        {% elif player.1 > 1350 %}
        <td class="px-2"><img src="{% static 'csgo/beep_boop.png' %}" class="w-24"></td>
        {% elif player.1 > 1200 %}
        <td class="px-2"><img src="{% static 'csgo/bots.png' %}" class="w-24"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="w-fit border-2 border-green-700 p-2 text-green-700 text-center my-5 overflow-auto">
    <h2 class="text-2xl text-green-700 text-center">Unranked players</h2>
    <table class="text-center mx-auto">
      <thead>
        <tr>
          <th class="px-2">{Name}</th>
        </tr>
      </thead>
      <tbody>
        {% for player in unrankedplayers %}
        <tr>
          <td class="px-2">{{ player.player.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="w-fit border-2 border-green-700 p-2 text-green-700 text-center my-5 overflow-auto">
  <h2 class="text-2xl text-green-700 text-center">Matches</h2>
  <table class="text-center mx-auto">
    <tbody>
      {% for match in matches %}
      <tr>
        <td class="px-2"><a href="{% url 'match_overview' match_id=match.id %}">{{ match.date }} {{ match.map }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}