{% extends "base.html" %}

{% block content %}
<div class="show-teams">
    <h1>Team Assignment</h1>
    <table>
        <thead>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
            </tr>
        </thead>
        <tbody>
            {% for player1, player2 in teams %}
            <tr>
                <td>{{ player1.name }}</td>
                <td>{{ player2.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}