{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="gap-4 h-96 mx-auto">
  {% for project in projects %}
    <div class="relative h-full w-1/2 p-4 my-5 border-2 border-green-700">
      <div class="overflow-hidden">
        <div class="px-6 py-2">
          <div class="font-bold text-2xl mb-2 text-yellow-400 text-shadow-aoc shadow-yellow-500">{{ project.title }}</div>
          <p class="text-gray-400 overflow-y-auto max-h-64">
            {{ project.short_description }}
          </p>
        </div>
        <div class="absolute bottom-0 px-6 py-2">
          <a href="{{ project.github_link }}" class="text-green-600 text-sm hover:text-shadow-aoc hover:shadow-green-500 hover:text-green-500">{Github}</a>
          <a href="{{ project.read_more_link }}" class="text-green-600 text-sm hover:text-shadow-aoc hover:shadow-green-500 hover:text-green-500">{Read More}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}