{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="project-grid">
  {% for project in projects %}
    <div class="project-card">
      <div class="overflow-hidden">
        <div class="content">
          <div class="title">{{ project.title }}</div>
          <p class="description">
            {{ project.short_description }}
          </p>
        </div>
        <div class="links">
          <a href="{{ project.github_link }}">{Github}</a>
          <a href="{{ project.read_more_link }}">{Read More}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}