{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% tailwind_css %}
    
    <title>Foth.dev</title>
</head>
<body class="bg-[#0F0F23]">
    <h1 class="text-lime-500 text-shadow-aoc shadow-lime-500 font-mono text-3xl">
        Foth.dev
    </h1>
    {% block content %}
    {% endblock content %}
</body>
</html>